@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
}

/* Block */
.manage {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 1rem;
  width: 100%;
  gap: 0.02rem;
}

/* Block Box */
.box {
  border: 1px solid transparent;
  display: flex;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: ease 0.5s;
  flex: 1;
}

/* Element in Box Block */
.box__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid blue;
  color: blue;
}

.box:hover {
  border-color: rgb(43, 123, 243);
  transform: scale(1.1);
  .box__icon {
    background-color: rgb(43, 123, 243);
    color: white;
  }
}

/* Block */
.img_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Block */
.scaleup {
  transition: ease 0.25s;
}

.scaleup:hover {
  transform: scale(1.1);
}
